<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/libs/go-debug.js}"></script>
    <script th:src="@{/js/designer.js}"></script>
</head>
<body onload="init()">
<button onclick="addTable()">Add table</button>
<div id="sample">
    <div id="myDiagramDiv" style="background-color: white; border: solid 1px black; width: 100%; height: 700px"></div>
    <p>Sample for representing the relationship between various entities.  Try dragging the nodes -- their links will avoid other nodes, by virtue of the <a>Link.AvoidsNodes</a> property assigned to the
        custom link template's <a>Link.routing</a>. Also note the use of <a href="../intro/buttons.html" target="_blank">Panel Expander Buttons</a> to allow for expandable/collapsible node data.
    </p>
    <p>Buttons are defined in <a href="../extensions/Buttons.js">Buttons.js</a>.</p>
</div>
</body>

</html>