<html>
<div class="modal-header form-group">
    <h3 class="col-sm-6 modal-title">Добавление таблицы</h3>
    <div class="col-sm-5 input-col-wdd">
        <input type="text" class="form-control" id="table-name-input" ng-model="tableCtrl.table.name">
    </div>
    <div class="col-sm-1 error-div" ng-if="tableCtrl.errorMessage != null">
        <i class="material-icons error-icon-wdd" ng-attr-title="{{tableCtrl.errorMessage}}">error</i>
    </div>
</div>
<div class="ph-container">
    <div class="ph-content">
        <div class="modal-body">
            <div ng-repeat="field in tableCtrl.table.fields">
                <div class="col-sm-12 input-col-wdd">
                    <div ng-class="field.name.length > 0 ? 'form-group label-floating col-sm-3 input-col-wdd field-wdd'
                    : 'form-group label-floating col-sm-3 input-col-wdd is-empty field-wdd'">
                        <label class="control-label" for="focusedInput1">Поле</label>
                        <input class="form-control" id="focusedInput1" type="text" ng-model="field.name">
                    </div>
                    <div ng-class="field.type.length > 0 ? 'form-group label-floating col-sm-3 input-col-wdd field-wdd'
                    : 'form-group label-floating col-sm-3 input-col-wdd is-empty field-wdd'">
                        <label class="control-label" for="focusedInput2">Тип</label>
                        <input class="form-control" id="focusedInput2" type="text" ng-model="field.type">
                    </div>
                    <div class="checkbox col-sm-1" id="pk-check">
                        <label>ПК<br>
                            <input type="checkbox" ng-model="field.primaryKey">
                            <span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>
                    <div class="checkbox col-sm-1">
                        <label>ВК<br>
                            <input type="checkbox" ng-model="field.foreignKey"
                                   ng-change="tableCtrl.actionForeignKey(field)">
                            <span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>
                    <div class="checkbox col-sm-1">
                        <label>НН<br>
                            <input type="checkbox" ng-model="field.notNull">
                            <span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>
                    <div class="checkbox col-sm-1">
                        <label>У<br>
                            <input type="checkbox" ng-model="field.unique">
                            <span class="checkbox-material"><span class="check"></span></span>
                        </label>
                    </div>
                    <div class="col-sm-1">
                        <a ng-click="tableCtrl.removeField(field)" class="btn btn-primary btn-fab btn-wdd field-wdd"><i
                                class="material-icons">remove</i></a>
                    </div>
                    <div class="col-sm-1" id="error-div" ng-if="field.errorMessage != null">
                        <i class="material-icons error-icon-wdd" ng-attr-title="{{field.errorMessage}}">error</i>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 input-col-wdd row-eq-height-wdd">
                <div class="col-sm-2 input-col-wdd">
                    <a ng-click="tableCtrl.addField()" class="btn btn-primary btn-fab btn-wdd field-wdd"><i
                            class="material-icons">add</i></a>
                </div>
            </div>
            <div ng-repeat="key in tableCtrl.table.foreignKeys">
                <div class="col-sm-12 input-col-wdd">
                    <div class="form-group col-sm-3 input-col-wdd field-wdd">
                        <label class="control-label" for="foreign-key">Внешний ключ</label>
                        <input class="form-control" id="foreign-key" type="text" disabled ng-model="key.field.name">
                    </div>
                    <div class="form-group col-sm-3 input-col-wdd field-wdd">
                        <label for="select-table" class="col-sm-12 control-label">Таблица</label>
                        <div class="col-sm-12 select-wdd">
                            <select id="select-table" class="form-control" ng-model="key.table"
                                    ng-change="key.foreignField=key.table.fields[0]">
                                <option ng-if="table != tableCtrl.table" ng-repeat="table in tableCtrl.tables"
                                        ng-value="table">{{table.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-3 input-col-wdd field-wdd">
                        <label for="select-field" class="col-sm-12 control-label">Внешнее поле</label>
                        <div class="col-sm-12 select-wdd">
                            <select id="select-field" class="form-control" ng-model="key.foreignField">
                                <option ng-repeat="key in key.table.fields" ng-value="key">{{key.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" ng-if="!tableCtrl.changing">
            <a ng-click="tableCtrl.addTable()" class="btn btn-primary btn-fab btn-wdd field-wdd"><i
                    class="material-icons">done</i></a>
            <a ng-click="tableCtrl.cancel()" class="btn btn-primary btn-fab btn-wdd field-wdd"><i
                    class="material-icons">clear</i></a>
        </div>
        <div class="modal-footer" ng-if="tableCtrl.changing">
            <a ng-click="tableCtrl.cancel()" class="btn btn-primary btn-fab btn-wdd field-wdd"><i
                    class="material-icons">vertical_align_bottom</i></a>
        </div>
    </div>
</div>
</html>