<html>
<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Добавление таблицы:<input ng-model="tableCtrl.table.name"></h3>
</div>
<div class="ph-container">
    <div class="ph-content">
        <div class="modal-body">
            <table st-table="tableCtrl.table.fields" class="table table-striped">
                <thead>
                <tr>
                    <th>Поле</th>
                    <th>Тип</th>
                    <th></th>
                    <th>ПК</th>
                    <th>ВК</th>
                    <th>НН</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="field in tableCtrl.table.fields">
                    <td>
                        <input type="text" ng-model="field.name">
                    </td>
                    <td>
                        <input type="text" ng-model="field.type">
                    </td>
                    <td>
                        <button ng-click="tableCtrl.removeField(field)">Удалить</button>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="field.primaryKey">
                    </td>
                    <td>
                        <input type="checkbox" ng-change="tableCtrl.actionForeignKey(field)"
                               ng-model="field.foreignKey">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="field.notNull">
                    </td>
                </tr>
                </tbody>
            </table>
            <div id="error" ng-if="tableCtrl.errorMessage">{{tableCtrl.errorMessage}}</div>
            <button ng-click="tableCtrl.addField()">Добавить</button>
            <table ng-if="tableCtrl.table.foreignKeys.length > 0" st-table="tableCtrl.table.foreignKeys"
                   class="table table-striped">
                <thead>
                <tr>
                    <th>Внешний ключ</th>
                    <th>Таблица</th>
                    <th>Поле</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="key in tableCtrl.table.foreignKeys">
                    <td ng-bind="key.field.name"></td>
                    <td>
                        <select ng-model="key.table">
                            <option ng-repeat="table in tableCtrl.tables" ng-value="table">{{table.name}}
                            </option>
                        </select>
                    </td>
                    <td>
                        <select ng-model="key.foreignField">
                            <option ng-repeat="key in key.table.fields" ng-value="key">{{key.name}}</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button ng-click="tableCtrl.addTable()">{{tableCtrl.mainBtn}}</button>
            <button ng-click="tableCtrl.cancel()">Отмена</button>
        </div>
    </div>
</div>
</html>