<!DOCTYPE html>
<html lang="en">
<div class="table-node" id="dragDropWindow1">
    <div class="table-caption">
        {{name}}
    </div>
    <div class="table-fields">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>id</td>
                <td>BIGINT</td>
            </tr>
            <tr>
                <td>name</td>
                <td>VARCHAR</td>
            </tr>
            <tr>
                <td>role</td>
                <td>VARCHAR</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>